{% extends 'layout.html.twig' %}

{% block title %}Список участников{% endblock %}

{% block body %}
    <div class="mb-4">
        <h1>Список участников</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Email</th>
                <th>Санта</th>
                <th>Отправлено</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in participants %}
                <tr>
                    <td>{{ participant.id }}</td>
                    <td>{{ participant.name }}</td>
                    <td>{{ participant.email }}</td>
                    <td>{{ participant.santa }}</td>
                    <td>
                        {% if participant.congratulated %}
                            <span class="badge bg-success">Да</span>
                        {% else %}
                            <span class="badge bg-danger">Нет</span>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Участники не заданы</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="d-flex justify-content-between">
            <a class="btn btn-outline-primary" href="{{ path('participant_new') }}">Create new</a>
            {% if participants.getTotalItemCount >= 4 %}
                <a class="btn btn-outline-danger" href="{{ path('send_secret_santa') }}">Подарить подарки</a>
                <a class="btn btn-outline-success" href="{{ path('set_secret_santa') }}">Задать санту</a>
            {% endif %}
        </div>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(participants) }}
    </div>
{% endblock %}
