{% extends 'layout.html.twig' %}

{% block title %}Новый участник{% endblock %}

{% block body %}
    <h1>Добавление нового участника</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-between">
        <button class="btn btn-outline-success">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}

        <a class="btn btn-outline-secondary" href="{{ path('participant_index') }}">К списку участников</a>
    </div>
{% endblock %}
