<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container">
        <div class="navbar-collapse offcanvas-collapse text-center" id="navbarsExampleDefault">
            <h1 style="color: white">Секретный Санта</h1>
        </div>
    </div>
</nav>
